
.header-page {
    width: 1530px;
    min-height: 50px;
    background-color: #EF6837;
    color: white;
    position: fixed;
    // margin-right: 400px;
    margin-top: -400px;
    margin-left: -800px;


}

.header-title {
    text-align: center;
}

.header-shop {
    text-align: right;
    padding: 10px;
    margin-top: 10px;
    margin-left: 30px;
}