
.header-page {
    width: 100%;
    min-height: 100px;
    background-color: #EF6837;
    color: white;
    position: fixed;
    margin-top: -190px;
    margin-left: -120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    text-align: center;
}

.header-shop {
    text-align: center;
    padding: 18px;
}

.link {
    display: inline-block;
    padding: 18px;
}